* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #1C1C1C !important;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    height: 800px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #fff !important;
}

form {
    display: flex;
    flex-direction: column;
}

label,
p,
input[type="text"],
textarea,
button {
    color: #fff;
}

#funcionalidade {
    height: 40px;
    background-color: #A9A9A9;
    border: none;
    border-radius: 3px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
    color: #000;
}

textarea,
.drag-and-drop,
.quantity-radio-container,
#descricao {
    margin-bottom: 10px;
}

.drag-and-drop {
    border: 2px dashed #888;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    cursor: pointer;
    height: 120px;
}

.drag-and-drop p {
    color: #888;
}

button {
    background-color: #444;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #555;
}

input[type="file"] {
    display: none;
}

#imagePreview {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
}

.image-container {
    position: relative;
    max-width: 30%;
    margin: 0;
}

.uploaded-image {
    width: 100%;
    max-height: 100px;
    border-radius: 5px;
    object-fit: cover;
}

.remove-btn {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    width: 20px;
    height: 20px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.remove-btn:hover {
    background-color: darkred;
}

.radio-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.quantity-input {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;

}

.quantity-input input[type="number"] {
    width: 20%;
    border-radius: 5px;
    border: none;
    background-color: #A9A9A9;
    color: #000;
    text-align: center;
}

.form-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 15px;
}

#descricao {
    height: 150px;
    width: 100%;
    background-color: #A9A9A9;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: #000;
}

.btn {
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.btn-primary {
    background-color: #007bff;
    border: none;
    color: #fff;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-secondary {
    background-color: #6c757d;
    border: none;
    color: #fff;
}

.btn-secondary:hover {
    background-color: #5a6268;
}