/* Estilo geral do fundo */
body {
    background-color: #1c1c1c;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

/* Estilo do <h1> para posicionamento absoluto e centralização */
h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    color: #fff;
    z-index: -1;
    font-size: 3rem;
    margin-top: 0;
}

/* Estilo da navbar */
.navbar {
    background-color: #808080;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}


.main-container {
    padding-top: 70px; /* Adiciona um padding no topo para empurrar o conteúdo para baixo */
    flex: 1;
    overflow-y: auto;
}


/* Estilo do card cinza */
.gray-card {
    background-color: #A9A9A9;
    border-radius: 15px;
    padding: 20px;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

/* Estilo padrão dos botões */
.btn-custom {
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 10px;
}

.btn-custom:last-child {
    margin-right: 0;
}

.btn-custom:hover {
    background-color: #333;
    color: #fff;
}

/* Estilo específico para o botão "Novo Projeto" */
.btn-new-project {
    background-color: #28a745;
    width: 50%;
}

.btn-new-project:hover {
    background-color: #218838;
    color: white;
}

/* Estilo do modal */
.card-style {
    background-color: #1c1c1c;
    color: #fff;
    border-radius: 10px;
    padding: 20px;
}

/* Estilo do campo de input no modal */
#projectName {
    background-color: #e0e0e0;
    color: #000;
    border: none;
}

#projectName::placeholder {
    color: #555;
}

/* Remover bordas padrão do modal */
.modal-header, .modal-footer {
    border-color: gray;
}

/* Estilo do footer */
.footer {
    background-color: #A9A9A9;
    text-align: center;
    padding: 10px;
    margin-top: auto;
}

/* Estilo do container dos projetos */
.project-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
}

/* Faz os cards ficarem do mesmo tamanho */
.project-container .col-md-4 {
    flex: 1 1 calc(33.333% - 10px);
    max-width: calc(33.333% - 10px);
}

/* Container para os botões */
.button-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: auto;
}

/* Estilo específico para o botão de fechar no modal */
.close {
    color: #fff;
    opacity: 1;
}

.close:hover {
    color: #555;
    opacity: 1;
}
