/* Estilo geral */
body {
    background-color: #1c1f26;
    color: #f0f0f0;
    font-family: 'Arial', sans-serif;
}

.navbar {
    background-color: #343a40;
}

h1 {
    color: #ffffff;
    font-size: 2rem;
    margin-bottom: 30px;
    text-align: center;
}

/* Estilo dos cartões das suítes de teste */
.gray-card {
    background-color: #343a40;
    border-radius: 10px;
    padding: 20px;
    color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.project-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.button-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

/* Estilo dos botões */
.btn-primary {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-danger {
    background-color: #dc3545;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
}

.btn-danger:hover {
    background-color: #c82333;
}

/* Footer */
.footer {
    background-color: #343a40;
    text-align: center;
    padding: 10px;
    color: #fff;
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
}

/* Responsividade */
@media (max-width: 768px) {
    .gray-card {
        margin-bottom: 20px;
    }

    .button-container {
        flex-direction: column;
        align-items: center;
    }

    .button-container a,
    .button-container form {
        width: 100%;
        margin-bottom: 10px;
    }
}