/* Estilo geral */
body {
    background-color: #1c1f26;
    color: #f0f0f0;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    background-color: #343a40;
}

h1 {
    color: #ffffff;
    font-size: 2rem;
    margin-bottom: 30px;
}

/* Estilo dos cartões das suítes de teste */
.gray-card {
    background-color: #292b33;
    border-radius: 10px;
    padding: 20px;
    color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s;
}

.gray-card:hover {
    transform: scale(1.05);
}

.project-title {
    font-size: 1.4rem;
    font-weight: bold;
}

.button-container {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.btn-primary {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 8px 20px;
    font-size: 14px;
    border-radius: 5px;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-danger {
    background-color: #dc3545;
    border: none;
    color: white;
    padding: 8px 20px;
    font-size: 14px;
    border-radius: 5px;
}

.btn-danger:hover {
    background-color: #c82333;
}

/* Estilo do card de criação de nova suíte */
.highlight-card {
    background-color: #28a745;
    color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.highlight-card h2 {
    font-weight: bold;
    margin-bottom: 15px;
}

.btn-new-suite {
    background-color: #218838;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
}

.btn-new-suite:hover {
    background-color: #1e7e34;
}

.btn-new-suite[disabled] {
    background-color: #888;
    cursor: not-allowed;
}

.highlight-card .btn-new-suite[disabled]:hover {
    background-color: #888;
}

/* Footer fixo */
.footer {
    background-color: #343a40;
    text-align: center;
    padding: 10px;
    color: #fff;
    width: 100%;
    margin-top: auto;
}

/* Responsividade */
@media (max-width: 768px) {

    .gray-card,
    .highlight-card {
        margin-bottom: 20px;
    }

    .button-container {
        flex-direction: column;
        align-items: center;
    }

    .button-container a,
    .button-container form {
        width: 100%;
        margin-bottom: 10px;
    }
}