<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IA Testing</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../static/projetos/projetos-styles/projetos.css">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-grey custom-navbar-height">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">IA Testing</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav"></ul>
            </div>
        </div>
    </nav>

    <div class="container mt-5">
        <div id="alert-message" class="alert alert-warning d-none"></div> <!-- Aviso Bootstrap -->

        <div class="row">
            <!-- Card de criação de projetos com destaque -->
            <div class="col-md-4 mb-4">
                <div class="gray-card highlight-card p-4 text-center shadow-sm" id="create-project-card">
                    <h2><i class="fas fa-plus-circle"></i> Create Project</h2>
                    <p>Create and manage your projects with ease.</p>
                    <button class="btn btn-new-project" id="new-project-btn" data-toggle="modal"
                        data-target="#projectModal">New Project</button>
                </div>
            </div>

            <!-- Outros projetos renderizados -->
            {% for project in projects %}
            <div class="col-md-4 mb-4">
                <div class="gray-card p-4 text-center shadow-sm" id="project-{{ project.id }}">
                    <h2 class="project-title">{{ project.name | truncate(20) }}</h2>
                    <p>View your project and manage your tests</p>
                    <div class="button-container">
                        <button class="btn btn-danger" onclick="deleteProject({{ project.id }})">Delete</button>
                        <a href="{{ url_for('view_project', project_id=project.id) }}" class="btn btn-custom">View</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- Modal de Criação de Projetos -->
    <div class="modal fade" id="projectModal" tabindex="-1" role="dialog" aria-labelledby="projectModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content card-style">
                <div class="modal-header">
                    <h5 class="modal-title" id="projectModalLabel">New Project</h5>
                    <button type="button" class="close text-dark" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="{{ url_for('save_project') }}" method="post">
                        <div class="form-group">
                            <label for="projectName">Project Name</label>
                            <input type="text" class="form-control bg-light text-dark border-0" id="projectName"
                                name="name" placeholder="Enter project name" required>
                        </div>
                        <div class="d-flex justify-content-between">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer border-0">
                </div>
            </div>
        </div>
    </div>

    <!-- Modal de confirmação de exclusão -->
    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content card-style">
                <div class="modal-header border-0">
                    <h5 class="modal-title" id="confirmModalLabel">Delete Confirmation</h5>
                    <button type="button" class="close text-dark" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this project?</p>
                </div>
                <div class="modal-footer border-0">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" id="confirmDeleteBtn">Delete</button>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer mt-auto">
        <div class="text-center p-3">© 2024 IA Testing. All Rights Reserved.</div>
    </footer>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="../static/projetos/projetos-scripts/projetos.js"></script>

</body>

</html>